* {
    margin: 0;
    padding: 0;
}

body {
    background: #DAF7A6;
    font-family: "Quattrocento", serif;
}

h2 {
    color: #283747;;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
}

p {
    font-size: 20px;

}

ul {
    list-style-type: none;
    font-size: 20px;
}

li a:hover {
    color: #DAF7A6;
}

a {
    color: white;
    text-decoration: none;
}

img {
    display: block;
    height: 300px;
    margin: auto;
    padding-top: 30px;
}
 
/********* ID tags below *********
**********************************/

#header {
    background-color: #2e4053;
    color: #DAF7A6;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#nav {
    background: #138d75;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#nav li {
    display: inline;
    font-size: 20px;
    margin: 40px;
}

#content {
    font-size: 2em;
    margin: auto;
    width: 960px;
}

#life {
    float: left;
    padding-top: 30px;
    width: 53%;
}

#image {
    float: right;
    width: 45%;
}

#caption {
    font-size: 15px;
    text-align: center;
}

#steps {
    clear: both;
    padding-top: 20px;
    padding-bottom: 30px;
}

#tips {
    padding-bottom: 30px;
}

#medicine, #tea, #hospitals {
    text-align: center;
}
